Source: plasma-workspace
Section: kde
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Jonathan Riddell <jriddell@ubuntu.com>
Build-Depends: cmake,
               dbus-x11,
               debhelper (>= 9.0.0),
               extra-cmake-modules,
               kdoctools-dev,
               kio-dev,
               kgendesignerplugin,
               kinit-dev,
               kwin-dev (>= 4.97.0),
               libboost1.55-dev,
               libdbusmenu-qt5-dev,
               libfontconfig1-dev,
               libgps-dev,
               libkf5activities-dev (>= 4.100.0),
               libkf5attica-dev (>= 4.100.0),
               libkf5auth-dev (>= 4.100.0),
               libkf5bookmarks-dev (>= 4.100.0),
               libkf5codecs-dev (>= 4.100.0),
               libkf5completion-dev (>= 4.100.0),
               libkf5config-dev (>= 4.100.0),
               libkf5configwidgets-dev (>= 4.100.0),
               libkf5coreaddons-dev (>= 4.100.0),
               libkf5crash-dev (>= 4.100.0),
               libkf5dbusaddons-dev (>= 4.100.0),
               libkf5declarative-dev (>= 4.100.0),
               libkf5emoticons-dev (>= 4.100.0),
               libkf5globalaccel-dev (>= 4.100.0),
               libkf5guiaddons-dev (>= 4.100.0),
               libkf5i18n-dev (>= 4.100.0),
               libkf5iconthemes-dev (>= 4.100.0),
               libkf5idletime-dev (>= 4.100.0),
               libkf5itemmodels-dev (>= 4.100.0),
               libkf5itemviews-dev (>= 4.100.0),
               libkf5jobwidgets-dev (>= 4.100.0),
               libkf5jsembed-dev (>= 4.100.0),
               libkf5kcmutils-dev (>= 4.100.0),
               libkf5kdelibs4support-dev (>= 4.100.0),
               libkf5khtml-dev (>= 4.100.0),
               libkf5kjs-dev (>= 4.100.0),
               libkf5newstuff-dev (>= 4.100.0),
               libkf5notifications-dev (>= 4.100.0),
               libkf5notifyconfig-dev (>= 4.100.0),
               libkf5parts-dev (>= 4.100.0),
               libkf5pty-dev (>= 4.100.0),
               libkf5runner-dev (>= 4.100.0),
               libkf5service-dev (>= 4.100.0),
               libkf5solid-dev (>= 4.100.0),
               libkf5sonnet-dev (>= 4.100.0),
               libkf5style-dev (>= 4.100.0),
               libkf5su-dev (>= 4.100.0),
               libkf5sysguard-dev (>= 4.97.0),
               libkf5texteditor-dev (>= 4.100.0),
               libkf5textwidgets-dev (>= 4.100.0),
               libkf5threadweaver-dev (>= 4.100.0),
               libkf5unitconversion-dev (>= 4.100.0),
               libkf5wallet-dev (>= 4.100.0),
               libkf5webkit-dev (>= 4.100.0),
               libkf5widgetsaddons-dev (>= 4.100.0),
               libkf5windowsystem-dev (>= 4.100.0),
               libkf5xmlgui-dev (>= 4.100.0),
               libkscreen2-dev,
               libpam0g-dev,
               libpci-dev,
               libphonon4qt5-dev,
               libphonon4qt5experimental-dev,
               libqalculate-dev,
               libqimageblitz-dev,
               libqt5sensors5-dev,
               libqt5webkit5-dev,
               libqt5x11extras5-dev,
               libraw1394-dev,
               libsm-dev,
               libudev-dev,
               libusb-dev,
               libx11-xcb-dev,
               libxcb-composite0-dev,
               libxcb-cursor-dev,
               libxcb-damage0-dev,
               libxcb-dpms0-dev,
               libxcb-ewmh-dev,
               libxcb-icccm4-dev,
               libxcb-image0-dev,
               libxcb-keysyms1-dev,
               libxcb-record0-dev,
               libxcb-render-util0-dev,
               libxcb-res0-dev,
               libxcb-screensaver0-dev,
               libxcb-shm0-dev,
               libxcb-util0-dev,
               libxcb-xevie0-dev,
               libxcb-xf86dri0-dev,
               libxcb-xinerama0-dev,
               libxcb-xkb-dev,
               libxcb-xprint0-dev,
               libxcb-xtest0-dev,
               libxcb-xv0-dev,
               libxcb-xvmc0-dev,
               libxcb1-dev,
               libxcursor-dev,
               libxi-dev,
               libxkbcommon-dev,
               libxkbfile-dev,
               libxrandr-dev,
               libxrender-dev,
               lm-sensors,
               pkg-kde-tools,
               plasma-framework-dev,
               qtdeclarative5-dev,
               qtscript5-dev,
               qttools5-dev,
               xauth,
               xcb-proto,
               xvfb
Standards-Version: 3.9.5

Package: plasma-workspace-dev
Architecture: any
Depends: plasma-workspace (= ${binary:Version}),
         ${allLibraries},
         ${misc:Depends}
Description: Plasma Workspace for KF5 devel files
 Plasma Workspace for KF5. Workspaces provide
 support for KDE Plasma Widgets, integrated search,
 hardware management and a high degree of customizability.
 .
 This package contains the development files.

Package: plasma-workspace
Architecture: any
Depends: dbus-x11,
         kactivities,
         kde-wallpapers-default,
         kded5,
         kinit,
         libkf5declarative5,
         libqt5qml-quickcontrols,
         oxygen-icon-theme,
         plasma-framework,
         qdbus-qt5,
         qt5-default,
         qtdeclarative5-controls-plugin,
         qtdeclarative5-kf5declarative,
         qtdeclarative5-kf5solid,
         qtdeclarative5-qtquick2-plugin,
         qtdeclarative5-quicklayouts-plugin,
         qtdeclarative5-window-plugin,
         qtquick1-5-dev,
         qttools5-dev-tools,
         udisks2,
         x11-utils,
         x11-xserver-utils,
         plasma-workspace-data (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Suggests: libkf5newstuff5
Conflicts: kde-window-manager,
           kde-workspace,
           kde-workspace-data,
           ksysguard,
           ksysguardd,
           plasma-desktop
Description: Plasma Workspace for KF5
 Plasma Workspace for KF5. Workspaces provide
 support for KDE Plasma Widgets, integrated search,
 hardware management and a high degree of customizability.
 .
 THIS WILL REMOVE YOUR KDE 4 Plasma.

Package: plasma-workspace-data
Architecture: all
Depends: ${misc:Depends}
Description: Plasma Workspace for KF5 data files
 Plasma Workspace for KF5. Workspaces provide
 support for KDE Plasma Widgets, integrated search,
 hardware management and a high degree of customizability.
 .
 This package contains the data files.

Package: libkworkspace5
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Plasma Workspace for KF5 library
 Plasma Workspace for KF5. Workspaces provide
 support for KDE Plasma Widgets, integrated search,
 hardware management and a high degree of customizability.
 Kworkspace library.
 .
 This package contains library files.

Package: libplasma-geolocation-interface5
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Plasma Workspace for KF5 library
 Plasma Workspace for KF5. Workspaces provide
 support for KDE Plasma Widgets, integrated search,
 hardware management and a high degree of customizability.
 Interface library for geolocation.
 .
 This package contains library files.

Package: libtaskmanager5
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Plasma Workspace for KF5 library
 Plasma Workspace for KF5. Workspaces provide
 support for KDE Plasma Widgets, integrated search,
 hardware management and a high degree of customizability.
 Taskmanager library.
 .
 This package contains library files.

Package: libweather-ion7
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Plasma Workspace for KF5 library
 Plasma Workspace for KF5. Workspaces provide
 support for KDE Plasma Widgets, integrated search,
 hardware management and a high degree of customizability.
 Weather_ion library.
 .
 This package contains library files.
