#!/usr/bin/make -f

include /usr/share/pkg-kde-tools/qt-kde-team/2/debian-qt-kde.mk
libpkgs_addsubst_allLibraries = plasma-workspace-dev
include /usr/share/pkg-kde-tools/qt-kde-team/2/library-packages.mk

override_dh_auto_test:
	PYBUILD_TEST_ARGS="export `dbus-launch`"\
	dh_auto_test

override_dh_fixperms:
	chmod -x debian/plasma-workspace/etc/xdg/autostart/klipper.desktop
	chmod +x debian/plasma-workspace-data/usr/share/plasma/look-and-feel/org.kde.lookandfeel/contents/components/artwork/currentColorFillFix.sh
	$(overridden_command)

override_dh_install:
	mkdir -p debian/plasma-workspace/usr/share/xsessions/
	cp debian/kde-plasma-kf5.desktop debian/plasma-workspace/usr/share/xsessions/
	mkdir -p debian/plasma-workspace/usr/share/lightdm/lightdm.conf.d/
	cp debian/40-kde-plasma-kf5.conf debian/plasma-workspace/usr/share/lightdm/lightdm.conf.d/
	dh_install
